<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
          <a (click)="filter('')">
              <img src="assets/images/img1.png" alt="">
              <h6>All Products</h6>
          </a>
        </div>
        <div class="item ">
            <a (click)="filter('electronics')">
                <img src="https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" alt="">
                <h6>Jwellery</h6>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory |flter:searchkey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
               <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
               <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
               <p ><strong>Price:</strong>&nbsp;<span class="price" style="color: green;">{{item.price|currency:'INR'}}</span></p>
             <button style="background-color: orange;" class="btn btn-warning" (click)="addtoCart(item)">
                 Add to Cart
             </button>
            </div>
        </ng-container>     
    </div>
</div>
