<div class="d-flex align-items-center justify-content-center">
    <div class="card" style="width: 600px;">
        <div class="row">
            <div class="col-lg-6">
                <img class="card-img-top" src="/assets/images/404error.PNG" alt="Card image cap">
            </div>
            <div class="col-lg-6">
                <div class="card-body text-center">
                    <h1 style="color:darkgray">Ooops.....!</h1>
                    <h1><span class="error-code">404</span></h1>
                    <h3 style="color:rgb(77, 73, 73)">Page Not Found</h3>
                </div>
            </div>
        </div>
    </div>
</div>