<div class="card-top container-fluid">
  <div class="container d-flex" >
    <div class="item">
      <a (click)="filterByCategory('')">
        <img src="assets/images/img1.png" alt="" />
        <h6>All Products</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filterByCategory('electronics')">
        <img src="https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg" alt="" />
        <h6>Electronics</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filterByCategory('fashion')">
        <img src="https://fakestoreapi.com/img/71li-ujtlUL._AC_UX679_.jpg" alt="" />
        <h6>Fashion</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filterByCategory('jewelery')">
        <img src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" alt="" />
        <h6>Jwellery</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filterByCategory('Shoes')">
        <img src="/assets/images/shoose.jpg" alt="" />
        <h6>Shoes</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filterByCategory('Furniture')">
        <img src="/assets/images/furniture.jpg" alt="" />
        <h6>Furniture</h6>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of filterCategory | filter: searchkey:'title'">
      <div class="card col-md-2">
        <img src="{{ item?.image }}" alt="" />
        <h5 style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
          {{ item?.title }}
        </h5>
        <p style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
          {{ item?.description }}
        </p>
        <p>
          <strong>Price:</strong>&nbsp;<span class="price" style="color: green">
            {{ item?.price | currency: "INR"}}
          </span>
        </p>
        <div class="row">
          <div class="col-6">
            <button  class="btn btn-warning rounded-pill text-nowrap" (click)="addtoCart(item)">
              Add to Cart
            </button>
          </div>
          <div class="col-6">
            <button class="btn btn-danger rounded-pill text-nowrap" (click)="pay(item.price)">
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>