<div class="d-flex align-items-center justify-content-center">
    <div class="card" style="width: 600px;">
        <div class="row">
            <div class="col-lg-12">
                <img class="card-img-top" src="/assets/images/Server-error.PNG" alt="Card image cap">
            
                <div class="card-body text-center">
                    <h1 style="color:rgb(209, 77, 77); margin-bottom: 20px;">Internal Server Error</h1>
                    <h4 style="margin-bottom:10px">Ooooops...! Something went wrong</h4>
                    <p>Please try again in few minutes, if the error persist contact us for support</p>
                </div>
            </div>
        </div>
    </div>
</div>